.testimonio {
    width: 100%;
    margin-top: 9rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    width: 100%;
}

.imagen, .inf {
    width: 50%;
}

.imagen{
    padding: 1rem;
}

.imagen > img{
    width: 75%;
    margin-left: 1rem;
}


.inf > img {
    width: 10%;
    margin-bottom: 2rem;

}

.inf > p {
    font-size: 22px ;
    color: #6E6E6E;
    margin-bottom: 4rem;
}

#estrellas{
    width: 20%;
}

.imagen > img {
    border-radius: 2rem;
}


